body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  color: #323232;
  background-color: #849d8f;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
}

h1 {
  margin: 0;
  padding: 0;

  color: #ffffff;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

h2 {
  margin: 0;
  padding: 0;

  color: #323232;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.modal-content {
  position: absolute;
  z-index: 1500;
  top: 338px;
  left: 50%;

  display: none;

  width: 430px;
  margin-left: -238px;

  padding: 18px 25px 25px;
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 23px;

  color: #323232;
  border-radius: 10px;
  background: #f8f7f4;
}

.modal-content-close {
  position: absolute;
  top: 0;
  top: 15px;
  right: 15px;

  width: 22px;
  height: 22px;

  cursor: pointer;

  border: 0;
  background: #f8f7f4;

  font-size: 0;
}

.modal-content-close::before,
.modal-content-close::after {
  position: absolute;
  top: 10px;
  left: 2px;

  width: 22px;
  height: 2px;

  content: "";

  background-color: #323232;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-content .feedback-form-title {
  margin-bottom: 22px;

  color: #323232;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.modal-content input[type="text"] {
  width: 268px;

}

.modal-content textarea {
  width: 100%;

  resize: none;
  min-height: 155px;
}

.modal-content input[type="text"],
.modal-content textarea {
  box-sizing: border-box;
  margin-bottom: 22px;
  padding: 8px 15px;

  color: #323232;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}


.modal-content input[type="text"]:hover,
.modal-content textarea:hover {
  padding: 7px 14px;

  border: 2px solid #d3d3d2;
}

/* голубое свечеие в хроме */
.modal-content input[type="text"]:focus,
.modal-content textarea:focus {
  padding: 7px 14px;

  border: 2px solid #8fbdec;
}

.modal-content label {
  display: none;

  margin: 0px;
  padding: 0px;

  color: #5b9ddf;
}

.modal-content input::-webkit-input-placeholder {
  font-weight: normal;
}

.modal-content input:-moz-placeholder {
  font-weight: normal;
}

.modal-content textarea::-webkit-input-placeholder {
  font-weight: normal;
}

.modal-content textarea:-moz-placeholder {
  font-weight: normal;
}

.feedback-form button {
  float: right;

  padding: 10px 25px;

  color: #ffffff;

  border: 0px;
  border-radius: 44px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
;
}

.modal-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
}

.site-wrapper {
  min-width: 1200px;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;

  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after {
  visibility: hidden;

  content: "";
}

.site-wrapper::before {
  background-image: url("../img/slider-icecream-02.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-icecream-03.png");
}

.catalog-wrapper {
  background: -webkit-linear-gradient(top, #9db1a5 0%, #849d8f 100%);
  background: linear-gradient(to bottom, #9db1a5 0%, #849d8f 100%);
}


.main-header {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  /*margin-bottom: 37px;*/
  padding-top: 10px;
  padding-right: 0px;

  background-color: transparent;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  /*background-color: rgba(137, 221, 54, 0.2);*/
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}


.header-nav {
  float: left;

  width: 550px;
  padding-top: 13px;
  padding-right: 25px;
  padding-bottom: 23px;
  padding-left: 11px;

  color: #ffffff;

}

.header-nav ul {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 0;
}
.header-nav > ul > li  {
  display: inline-block;

  vertical-align: top;
}

.header-nav .active-nav,
.header-nav .active-link {
  color: #ffffff;
  background-color: #d07058;
}



.header-nav > ul > li > a {
  display: inline-block;

  padding: 7px 14px;

  text-decoration: none;

  color: #ffffff;
  color: inherit;
  border-radius: 32px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  /*padding: 7px 5px; */
  font-weight: bold;
  line-height: 18px;
  /*border-radius: 32px; */
}

.header-nav .link-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.active-nav span.link-nav {
  border-bottom: 1px solid #d07058;
}


.header-nav > ul > li > a:hover:not(.active-nav) {
  color: #333333;
  background-color: #f7f6f3;
}

.header-nav > ul > li > a:active:not(.active-nav) {
  color: #333333;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.7);
}


.header-nav > ul > li {
  position: relative;
}

.header-nav > ul > li:hover > a:not(.active-nav) {
  color: #333333;
  background-color: #f7f6f3;
}

.header-nav .sub-menu-container {
  position: absolute;
  z-index: 100;
  top: 30px;
  left: -10px;

display: none;

padding-top: 5px;
}

.header-nav .sub-menu-container:hover {
  display: block;


}

.header-nav .sub-menu {
  width: 143px;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  font-size: 14px;
  line-height: 16px;


}

.sub-menu a {
  display: block;

  padding: 8px 20px;

  text-decoration: none;

  color: #323232;

}

.header-nav > ul > li > a:hover + .sub-menu-container {
  display: block;
}

.sub-menu a:hover:not(.active-link) {
  border-radius: 5px;
  background-color: #fbded7;
}

.sub-menu a:active:not(.active-link) {
  border-radius: 5px;
  background-color: #f6b5a5;
}

.sub-menu li:first-child a {
  position: relative;

  padding-top: 10px;
  padding-bottom: 12px;

  font-weight: bold;
}

/* это вообще нормально так делать? */
.sub-menu li:first-child a::after {
  position: absolute;
  top: 37px;
  left: 10px;

  width: 123px;
  height: 1px;

  content: "";

  background-color: #d1d0ce;
}

.sub-menu li:last-child a {
  padding-bottom: 10px;

}

.header-buying {
  position: relative;

  float: right;

  min-width: 267px;
  padding-top: 13px;
  padding-bottom: 23px;
  padding-left: 20px;

  text-align: right;

  font-size: 0px;
}

.logo {
  float: left;

  width: 154px;
  height: 64px;
  margin-left: -1px;
}

.header-search-container {
  display: inline-block;
  vertical-align: top;

}

.header-search {
  display: inline-block;

  width: 32px;
  height: 32px;
  margin-right: 10px;

  vertical-align: top;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -185px -22px;
}

.header-search:hover {
  background-color: #f8f7f4;
  background-position: -185px -49px;
}

.search-form-container {
  position: absolute;
  z-index: 101;
  top: 28px;
  right: 228px;

  display: none;
  padding-top: 20px;
}

.search-form {

  width: 310px;
  padding: 20px 15px;

  text-align: left;
  vertical-align: top;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  font-size: 14px;
}

.header-search-container:hover .search-form-container {
  display: block;
}

.header-search-container:hover .header-search {
  background-color: #f8f7f4;
  background-position: -185px -49px;
}

.main-header input[type="text"],
.main-header input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 9px 15px;

  color: #323232;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}


.main-header input[type="text"]:hover,
.main-header input[type="password"]:hover {
  padding: 8px 14px;

  border: 2px solid #d3d3d2;
}

/* голубое свечеие в хроме */
.main-header input[type="text"]:focus,
.main-header input[type="password"]:focus {
  padding: 8px 14px;

  border: 2px solid #8fbdec;
}

.main-header label {
  display: none;

  margin: 0px;
  padding: 0px;

  color: #5b9ddf;
}

.main-header input::-webkit-input-placeholder {
  font-weight: normal;
}

.main-header input:-moz-placeholder {
  font-weight: normal;
}

.header-login-container {
  position: relative;

  display: inline-block;
  vertical-align: top;

}

.login-form-container {
  padding-top: 20px;
  display: none;
  position: absolute;
  z-index: 102;
  top: 15px;
  right: 8px;
}

.header-login {
  position: relative;

  display: inline-block;

  margin-right: 10px;
  padding: 8px 16px;
  padding-left: 43px;

  vertical-align: top;
  text-decoration: none;

  color: #ffffff;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.header-login::before {
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;

  content: "";

  background: url("../img/sprite.png");
  background-position: -63px -35px;
}

.header-login:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.header-login:hover::before {
  background-position: -94px -35px;
}

.login-form {



  width: 240px;
  padding: 20px 19px;


  text-align: left;
  vertical-align: top;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  font-size: 14px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  display: block;

  margin-bottom: 20px;
}

.login-form button {
  float: left;

  padding: 10px 25px;

  color: #ffffff;
  border: 0;
  border-radius: 44px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

}

.login-form-links {
  float: right;
}

.login-form a {
  display: block;

  margin: 0px;
  padding: 0px;

  color: #323232;

  font-size: 13px;
  line-height: 24px;
}

.header-login-container:hover .login-form-container {
  display: block;
}

.header-login-container:hover .header-login {
  color: #323232;
  background-color: #f8f7f4;
}

.header-login-container:hover .header-login::before {
  background-position: -94px -35px;
}


.header-basket-container {
  position: relative;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.header-basket {
  position: relative;
  width: 73px;
  display: inline-block;
  text-align: left;
  padding-top: 8px;
/*  padding-right: 34px;*/
  padding-bottom: 8px;
  padding-left: 44px;

  vertical-align: top;
  text-decoration: none;

  color: #ffffff;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.header-basket::before {
  position: absolute;
  top: 6px;
  left: 17px;

  width: 21px;
  height: 20px;

  content: "";

  background: transparent url("../img/sprite.png");
  background-position: -125px -5px;
}

.basket-active {
  color: #323232;
  background-color: #f8f7f4;
}

.basket-active::before {
  background-position: -156px -5px;
}

.basket-modal-container {
  display: none;
  padding-top: 10px;
  position: absolute;
  top: 27px;
  right: 0px;
  z-index: 505;
}

.header-basket-container:hover .basket-active + .basket-modal-container {
  display: block;
}

.basket-modal {

  width: 510px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #323232;

}



.basket-item {
  padding-left: 6px;
  padding-bottom: 20px;
  font-size: 0px;
  vertical-align: middle;
}

.basket-item:last-child {
  border-bottom: 1px solid #cacac7;
  padding-bottom: 16px;
}

.basket-item-delete {
  width: 14px;
  height: 14px;

  font-size: 0;

  background-color: #f8f7f4;
  border: 0;
  cursor: pointer;
  position: relative;
  margin-right: 7px;
}

.basket-item img {
  width: 33px;
  height: 33px;
  display: inline-block;
  vertical-align: top;
}


.basket-item-delete::before,
.basket-item-delete::after {
  content: "";
  width: 14px;
  height: 2px;
  background-color: #323232;
  position: absolute;
  top: 15px;
  left: -2px;
}

.basket-item-delete::before {
  transform: rotate(45deg);
}

.basket-item-delete::after {
  transform: rotate(-45deg);
}

.basket-item .item-name,
.basket-item .item-kg,
.basket-item .item-price {
  display: inline-block;
  font-size: 13px;
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  padding-top: 10px;
}

.basket-item .item-name {
  width: 217px;
  padding-left: 14px;
  margin-right: 29px;
}

.basket-item .item-kg {
  margin-right: 28px;
}

.basket-item .item-price-for-kg {
  color: #999999;
}

.basket-modal .total-price {
  float: right;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 15px;
}

.basket-modal .btn {
  float: right;
  clear: both;
  border: 0;
  padding: 10px 15px;
  border-radius: 44px;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
}





.header-info {
  position: absolute;
  top: 73px;
  right: 25px;

  width: 175px;

  color: #ffffff;

  font-size: 0px;
}

.worktime {
  display: inline-block;

  width: 175px;
  margin-bottom: 4px;

  text-align: right;
  vertical-align: top;

  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.phone {
  display: inline-block;

  width: 175px;

  text-align: right;
  vertical-align: top;

  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
}

.slider {
  position: relative;

  margin-bottom: 40px;
  padding-top: 314px;

  text-align: center;

  color: #ffffff;
}



.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0px;

  text-align: center;

  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

.slide .slide-btn {
  display: block;

  width: 205px;
  margin: 0 auto;
  padding: 10px 36px;

  text-align: center;
  text-decoration: none;

  color: #ffffff;
  border-radius: 64px;
  background-color: rgb(231, 74, 53);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
}

.slider-controls label {
  display: inline-block;

  width: 17px;
  height: 17px;
  margin-right: 8px;

  cursor: pointer;
  vertical-align: top;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls {
  position: absolute;
  z-index: 20;
  bottom: 22px;
  left: 0px;

  font-size: 0;
}

body > input[type="radio"] {
  display: none;
}

.slide {
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-icecream-01.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-icecream-02.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-icecream-03.png");
}


.btn {
  text-decoration: none;

  color: #ffffff;
  /* приставки */
  background-image: -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}



.btn:hover {
  background-image: -webkit-linear-gradient(90deg, rgb(236, 111, 94) 0%, rgb(246, 134, 105) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(236, 111, 94) 0%, rgb(246, 134, 105) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.btn:active {
  background-image: -webkit-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.4);
}



.info-block {
  width: 520px;
  /* почему при измерении в фотошопе padding'и в фш сверху и снизу 23,
  но при этом при верстке пришлось делать разные, так как плывет иначе   */
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  border-radius: 15px;

  font-family: "Roboto", "Arial", sans-serif;

}

.info-block h3 {
  margin: 0px;
  margin-bottom: 15px;
  padding: 0px;

  color: #ffffff;

  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}


/* дублировать ли font-family? */
.discounts p {
  margin: 0px;
  margin-bottom: 45px;
  padding: 0px;

  color: #ffffff;

  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.discounts a {
  float: right;

}

.info-block a {
  display: inline-block;

  padding: 11px 23px;

  vertical-align: top;

  color: #ffffff;
  border-radius: 46px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.discounts-rasberry {
  float: left;

  background: #3e0001 url("../img/background-rasberry.jpg") no-repeat;
}


.discount-chocolate {
  float: right;

  background: #542e18 url("../img/background-choco.jpg") no-repeat;
}

.discounts {
  margin-bottom: 40px;
}


.icecream {


  font-size: 0px;
}

.icecream-item {
  position: relative;

  display: inline-block;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;

  text-align: center;
  vertical-align: top;

  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

/* рубль другой */
.icecream-item .price {
  position: absolute;
  z-index: 560;
  top: 210px;
  left: 0;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}

.icecream-item .kilogram {
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

  font-size: 30px;
}

.icecream-item > img {
  position: relative;

  margin-bottom: 7px;
  width: 267px;
  height: 267px;
}

.icecream-item:hover > img {
  z-index: 500;
}

.icecream-item .img-price {
  width: auto;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 2px;
}

.icecream-item .icecream-item-title {
  position: relative;
  z-index: 800;

  text-decoration: none;

  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.icecream-item .icecream-item-title:hover,
.icecream-item .icecream-item-title:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}


.icecream-item .btn {
  position: absolute;
  z-index: 550;
  top: 333px;
  left: 33px;

  display: none;

  width: 170px;
  padding: 11px 15px;

  color: #ffffff;
  border-radius: 46px;

  font-size: 18px;
  line-height: 24px;
}

.icecream-item:hover .btn {
  display: inline-block;
}

.icecream-item:hover::before {
  position: absolute;
  z-index: 50;
  top: -6px;
  left: -13px;

  width: 293px;
  height: 404px;

  content: "";

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.icecream-item::after {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 61px;
  height: 61px;

  content: "";

  background-image: url("../img/sprite.png");
  background-position: -63px -77px;
}

.icecream-item:hover::after {
  z-index: 600;
}

.icecream-item:nth-child(4n) {
  margin-right: 0;
}

.shop-description {
  margin-bottom: 40px;
  padding-top: 27px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;

  border-radius: 15px;
  background: #ecdcbd url("../img/pattern-wafer.png") repeat;

  font-size: 0px;


}

.shop-description h2 {
  margin: 0;
  padding: 0;

  color: #323232;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

}

.shop-description ul {
  margin: 0;
  padding: 0;
}



.description-item {
  position: relative;

  display: inline-block;

  width: 480px;
  margin-right: 29px;
  padding-top: 21px;
  padding-left: 57px;

  vertical-align: top;

  color: #323232;

  font-size: 16px;
  line-height: 22px;

}

.description-item:nth-child(2n) {
  margin-right: 0px;
}

.shop-description-technology::before {
  position: absolute;
  top: 10px;
  left: 0px;

  width: 49px;
  height: 49px;

  content: "";

  background-image: url("../img/sprite.png");
  background-position: -134px -77px;
}

.shop-description-farm::before {
  position: absolute;
  top: 10px;
  left: 0px;

  width: 49px;
  height: 49px;

  content: "";

  background-image: url("../img/sprite.png");
  background-position: -5px -35px;
}

.shop-description-materials::before {
  position: absolute;
  top: 10px;
  left: 0px;

  width: 49px;
  height: 49px;

  content: "";

  background-image: url("../img/sprite.png");
  background-position: -134px -136px;
}

.shop-description-temperature::before {
  position: absolute;
  top: 10px;
  left: 0px;

  width: 49px;
  height: 49px;

  content: "";

  background-image: url("../img/sprite.png");
  background-position: -225px -5px;
}

.news-subscribe {
  margin-bottom: 40px;
}

.news {
  float: left;

  min-height: 182px;

  background: #ffffff url("../img/background-strawberry.jpg") no-repeat;
  /*
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 23px; */
}

.news span {
  display: block;

  margin-top: 7px;
  margin-bottom: 5px;

  color: #323232;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

/* в макете после 10 два пробела, это опечатка?
делать высоту блока с помощью margin? */
.news a {
  display: block;

  width: 290px;
  padding: 0px;

  text-decoration: underline;

  color: #323232;
  border-radius: 0;

  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  /*margin-bottom: 58px; */

}

.news a:hover,
.news a:active {
  color: #e84d37;
}



/* не разобралась с рамкой */
.news-subscribe .subscribe {
  float: right;

  padding: 6px;

  color: #5a5a5a;
  border-radius: 15px;
  background: #f8f7f4 url("../img/pattern-mail.png") repeat;

  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.subscribe-container {
  box-sizing: border-box;
  width: 548px;

  padding-top: 12px;
  padding-bottom: 35px;

  background-color: #f8f7f4;
}

.subscribe p {
  margin-bottom: 34px;
}

.subscribe-form input {
  width: 335px;
  margin-right: 9px;
  padding: 9px 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.subscribe-form button {
  padding: 10px 18px;

  color: #ffffff;
  border: 0;
  border-radius: 44px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.container .map-contacts {
  position: relative;
  left: -27px;

  width: 1146px;
  padding: 62px 27px;

  background-image: url("../img/map.jpg");
}

.contacts-feedback {
  float: right;

  width: 252px;
  padding: 30px 25px;

  color: #323232;
  border-radius: 15px;
  background-color: #ffffff;
}

.contacts-title {
  margin: 0px;

  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.contacts-info {
  margin: 0px;
  margin-bottom: 2px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.contacts-item {
  margin-bottom: 19px;
}


.contacts-feedback a {
  display: block;

  margin-top: 30px;
  padding: 10px 27px;

  color: #ffffff;
  border-radius: 44px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.breadcrumbs {
  margin-top: 21px;
  margin-bottom: 3px;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  display: inline;

  padding-right: 18px;
}

.breadcrumbs a {
  text-decoration: none;

  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a:hover:not(.current),
.breadcrumbs a:active:not(.current) {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.breadcrumbs .current {
  border-bottom: 0;
}

.breadcrumbs li::after {
  position: absolute;
  right: 7px;

  content: "»";

  color: #ffffff;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.title-catalog {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  color: #ffffff;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.filters {
  width: 879px;

  margin-bottom: 40px;

  color: #ffffff;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 0px;
}

.filters label,
.filters b {
  display: block;

  margin-bottom: 5px;
  padding-left: 15px;

  color: #ffffff;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filters-sorting,
.filters-price,
.filters-fillers {
  display: inline-block;

  padding-right: 15px;

  vertical-align: top;
}

.filters-fat {
  display: inline-block;

  vertical-align: top;
}

.filters-sorting select {
  box-sizing: border-box;
  width: 193px;
  padding: 9px 10px;

  color: #ffffff;

  border-radius: 38px;
  background-color: rgba(248, 247, 244, 0.2);

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  border: none;
  outline: none;
}

.filters-sorting select:hover {

  color: #323232;

  background-color: #ffffff;

}


.filters-sorting option {
  color: #323232;

  font-size: 14px;
  line-height: 16px;
  border: none; outline: none;
}

.filters-price {
  width: 220px;
  margin-bottom: 15px;
}

.range-controls {
  position: relative;

  width: 188px;
  height: 20px;
  padding-top: 16px;
  padding-right: 15px;
  padding-left: 15px;

  border-radius: 38px;
  background-color: rgba(248, 247, 244, 0.2);
}

.range-controls .scale {
  height: 4px;

  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 100px;
  height: 4px;

  margin-left: 30px;

  background-color: rgba(248, 247, 244, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0px;

  width: 21px;
  height: 21px;

  cursor: pointer;

  border-radius: 50%;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.range-controls .toggle-min {
  left: 30px;
}

.range-controls .toggle-max {
  left: 130px;
}

.price-controls {
  font-size: 0;
}


.price-controls .min-price,
.price-controls .max-price {
  display: inline-block;

  width: 40%;

  vertical-align: top;

  font-size: 14px;


}

.price-controls .min-price {
  width: 100px;

}

.price-controls .max-price {
  width: 75px;
  padding-left: 0px;
}

.price-controls input {
  width: 25px;
  padding: 0 2px;

  text-align: center;

  color: #283136;
  color: #ffffff;
  border: none;
  background: transparent;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;

}

.filters-fat {
  font-size: 0px;

}

.filters-fat ul {
  margin: 0px;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 3px;
  padding-left: 0px;

  vertical-align: middle;

  border-radius: 38px;
  background-color: rgba(248, 247, 244, 0.2);

  font-size: 0px;
}

.filters-fillers ul {
  margin: 0px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 4px;
  padding-left: 3px;

  vertical-align: middle;

  border-radius: 38px;
  background-color: rgba(248, 247, 244, 0.2);

  font-size: 0px;
}

.filters-fat li,
.filters-fillers li {
  display: inline-block;

  margin: 0px;
  padding: 0px;

  vertical-align: middle;
  text-decoration: none;

  font-size: 16px;
}

.filters-fat li {
  padding-right: 3px;
}

.filters-fillers li {
  padding-right: 7px;
}




.filters-fat label,
.filters-fillers label
 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filters-fat input[type="radio"] + label::before,
.filters-fillers input[type="checkbox"] + label::before
 {
  display: inline-block;

  margin-right: 10px;

  content: "";
  vertical-align: middle;
}

.filters-fat input[type="radio"] + label::before  {
  width: 21px;
  height: 22px;

  background-image: url("../img/sprite.png");
  background-position: -235px -106px;
}

.filters-fat input[type="radio"]:checked + label::before {
  background-position: -47px -170px;
}

.filters-fat input[type="radio"] + label:hover::before {
  background-position: -235px -138px;
}

.filters-fat input[type="radio"]:checked + label:hover::before {
  background-position: -78px -170px;
}

.filters-fillers input[type="checkbox"] + label::before  {
  width: 20px;
  height: 20px;

  background-image: url("../img/sprite.png");
  background-position: -5px -5px;
}

.filters-fillers input[type="checkbox"]:checked + label::before  {
  background-position: -65px -5px;
}

.filters-fillers input[type="checkbox"] + label:hover::before
 {
   background-position: -35px -5px;
}

.filters-fillers input[type="checkbox"]:checked + label:hover::before
 {
   background-position: -95px -5px;
}

.filters-fat input[type="radio"],
.filters-fillers input[type="checkbox"] {
  display: none;
}

.btn-submit {
  display: inline-block;

  padding: 7px 29px;

  vertical-align: bottom;

  color: #ffffff;
  border: 2px solid #fbfcfb;
  border-radius: 36px;
  background-color: rgba(248, 247, 244, 0.2);

  font-family: 'Roboto', 'Arial', sans-serif;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

}

.btn-submit:hover {
  color: #323232;

  background-color: #fbfcfb;
}

.btn-submit:active {
  padding: 9px 31px;

  color: #323232;
  border: none;

  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.7);
}

.icecream-catalog {
  margin-bottom: 45px;

  font-size: 0px;
}

.pages {
  position: relative;

  float: right;
  /*width: 267px;*/

  padding: 0;
  margin-bottom: 13px;

}



.pages ul {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 0px;
}

.pages li {

  display: inline-block;

  margin-right: 4px;
  vertical-align: middle;
  text-align: right;
}

.pages li:last-child {
  margin-right: 0px;

}

.pages .page-link {
  padding: 3px 8px;

  text-decoration: none;

  color: #ffffff;
  border-radius: 50%;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

}

.pages .page-back {
  opacity: 0.2;
  margin-right: 10px;
  padding-top: 2px;
}

.pages .page-noactive {
  opacity: 0.2;
}



.pages .page-foward {
  margin-left: 10px;

}

.pages .current-page {
  color: #323232;
  background-color: #ffffff;
}

.pages .page-link:hover:not(.current-page) {
  background-color: rgba(255, 255, 255, 0.2);
}

.pages a:active:not(.current-page):not(.page-back):not(.page-foward) {
  color: #323232;

  background-color: rgba(255, 255, 255, 1);
}


.main-footer {
  margin-top: 15px;
  padding-bottom: 25px;

  color: #ffffff;
}

.main-footer .footer-catalog {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 18px;
}

.footer-social {
  float: left;

  width: 267px;
  margin-right: 133px;
  padding: 0px;

}

.social-btn {
  display: inline-block;

  width: 32px;
  height: 32px;
  margin-top: 20px;
  margin-right: 8px;

  vertical-align: top;
  text-decoration: none;

  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-image: url("../img/sprite.png");

  font-size: 0px;
}

/* правильно ли вырезала кнопки */
.social-btn:hover {
  opacity: 1;
}

.social-btn:active {
  opacity: 1;
  box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 0.7);
}

.social-btn-tw {
  background-position: -220px -64px;

}

.social-btn-inst {
  background-position: -5px -136px;
}

.social-btn-fb {
  background-position: -125px -35px;

}

.social-btn-vk {
  background-position: -193px -106px;
}

.footer-links {
  float: left;

  width: 339px;
  margin-top: 18px;

  font-size: 0px;
}

.footer-links-item {
  display: inline-block;

  width: 175px;
  padding-left: 22px;

  text-align: left;
  vertical-align: top;

  font-size: 13px;
  line-height: 18px;
}

.footer-links-item:first-child {
  width: 120px;
}

.footer-links-item a {
  margin-bottom: 5px;

  text-decoration: none;

  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  font-size: 13px;
  line-height: 18px;
}

.footer-links-item a:hover,
.footer-links-item a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}


.footer-link-suppliers {
  position: relative;

  font-weight: bold;
}

.footer-link-suppliers::before {
  position: absolute;
  top: 2px;
  left: -22px;

  width: 15px;
  height: 13px;

  content: "";

  background-image: url("../img/sprite.png");
  background-position: -167px -35px;
}

.footer-copyright {
  float: right;

  width: 190px;
  padding-top: 2px;

  color: #ffffff;

  font-size: 12px;
  line-height: 18px;

}

.footer-copyright p a {
  text-decoration: none;

  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  font-size: inherit;
  line-height: inherit;
}

.footer-copyright p a:hover,
.footer-copyright p a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}


.footer-copyright p {
  margin: 0px;
}

.footer-copyright a {

}
